<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>Institucional</h3>
            <ul>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Contratar desenvolvedor</a></li>
                <li><a href="#">Salário programador</a></li>
                <li><a href="#">Blog de programação</a></li>
                <li><a href="#">Parceiros</a></li>
                <li><a href="#">Perguntas frequentes</a></li>
                <li><a href="#">Termos</a></li>
                <li><a href="#">Contatos</a></li>
                <li><a href="#">Privacidade</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Vagas</h3>
            <ul>
                <li><a href="#">Vagas desenvolvedor</a></li>
                <li><a href="#">Vagas programador JAVA</a></li>
                <li><a href="#">Vagas programador REACT</a></li>
                <li><a href="#">Vagas programador IOS</a></li>
                <li><a href="#">Vagas programador PHP</a></li>
                <li><a href="#">Vagas remotas programação</a></li>
            </ul>
        </div>
    </div>
    <div class="social-links" style="color: white;">
        <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin"></i><img src="../../assets/icons/linkedin.png" style="width: 44px;" alt=""></a>
        <a href="#" aria-label="Instagram" style="width: 44px;"><i class="fab fa-instagram"></i><img src="../../assets/icons/instagram.png" style="width: 44px;" alt=""></a>
        <a href="#" aria-label="Facebook" style="width: 44px;"><i class="fab fa-facebook"></i><img src="../../assets/icons/facebook.png" style="width: 44px;" alt=""></a>
        <a href="#" aria-label="Twitter" style="width: 44px;"><img src="../../assets/icons/twitter.png" style="width: 44px;" alt=""></a>
    </div>
    <div class="copyright">
        <p>RecruitPro © 2024 - Todos os direitos reservados</p>
    </div>
</footer>