<section class="contato-container">
    <div class="texto">
        <h1>Contato</h1>

        <p>
            Se você tiver dúvidas, sugestões ou quiser entrar em contato com a equipe da Recruit Pro, envie um e-mail
            para um dos endereços abaixo. Teremos prazer em responder o mais breve possível.
        </p>

        <p><strong>Suporte técnico:</strong>
            <a href="mailto:suporte&#64;recruitpro.com">suporte&#64;recruitpro.com</a>
        </p>

        <p><strong>Parcerias e empresas:</strong>
            <a href="mailto:contato&#64;recruitpro.com">contato&#64;recruitpro.com</a>
        </p>
        <p class="atendimento">Atendimento de segunda a sexta-feira, das 9h às 18h.</p>
    </div>
</section>
<app-footer></app-footer>