<nav class="navbar">
  <div routerLink="" class="logo">RECRUIT<span>PRO</span></div>

  <div class="nav-links" *ngIf="!isLoggedIn" [ngClass]="{ 'active': isMenuActive }">
    <a routerLink="/vagas" class="ver-vagas">VER VAGAS</a>
    <a routerLink="/users/login">LOGIN</a>
    <button class="btn-cadastrar" routerLink="/users/register">CADASTRAR-SE</button>
  </div>

  <div class="nav-links logged-in" *ngIf="isLoggedIn" [ngClass]="{ 'active': isMenuActive }">
    <a routerLink="/vagas" class="ver-vagas">VER VAGAS</a>

    <ng-container *ngIf="isMobile; else desktopMenu">
      <a (click)="redirectByDashboard()">Dashboard</a>
      <a (click)="redirectByProfile()">Perfil</a>
      <a (click)="redirectByConfig()">Configurações</a>
      <a (click)="logout()">Sair</a>
    </ng-container>

    <ng-template #desktopMenu>
      <div class="user-actions">
        <div class="user-profile" (click)="toggleUserMenu()">
          <span class="user-name">{{ userName }}</span>
          <div class="user-avatar">
            <img src="../../../assets/icons/profile_icon.png" alt="User profile" />
          </div>
          <div class="user-menu" *ngIf="isUserMenuOpen">
            <a (click)="redirectByDashboard()">Dashboard</a>
            <a (click)="redirectByProfile()">Perfil</a>
            <a (click)="redirectByConfig()">Configurações</a>
            <a (click)="logout()">Sair</a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <!-- Botão para abrir menu no mobile -->
  <div class="menu-icon" (click)="toggleMenu()">≡</div>
</nav>
