<nav class="navbar">
    <div routerLink="" class="logo">RECRUIT<span>PRO</span></div>
    <div class="nav-links" *ngIf="!isLoggedIn" [ngClass]="{'active': isMenuActive}">
        <a routerLink="/vagas" class="ver-vagas">VER VAGAS</a>
        <a href="#">SOU EMPRESA</a>
        <a routerLink="/users/login">LOGIN</a>
        <button class="btn-cadastrar" routerLink="/users/register">CADASTRAR-SE</button>
    </div>
    <div class="nav-links logged-in" *ngIf="isLoggedIn" [ngClass]="{'active': isMenuActive}">
        <a routerLink="/vagas" class="ver-vagas">VER VAGAS</a>
        <div class="user-actions">
            <a href="#" class="message-icon">
                <i class="far fa-comment-dots"></i>
            </a>
            <div class="user-profile" (click)="toggleUserMenu()">
                <span class="user-name">{{ userName }}</span>
                <div class="user-avatar">
                    <img src="../../assets/icons/profile_icon.png" alt="User profile">
                </div>
                <div class="user-menu" *ngIf="isUserMenuOpen">
                    <a routerLink="/companies/dashboard">Dashboard</a>
                    <a href="/companies/profile">Perfil</a>
                    <a href="#">Configurações</a>
                    <a (click)="logout()">Sair</a>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-icon" (click)="toggleMenu()">☰</div>
</nav>
