<div class="login-container">
    <div class="login-card">
        <div class="welcome-section">
            <div class="profile-image" style="margin-top: 15px;">
                <img src="../../../assets/icons/companhia.png" alt="Profile Image">
            </div>
            <h2>Cadastre sua Empresa</h2>
            <p>
                Registre-se para divulgar suas vagas e encontrar os melhores candidatos.
            </p>
            <a href="#" class="services-link">Saiba mais sobre nossos serviços</a>
        </div>
        <div class="login-section">
            <div class="tabs">
                <button class="tab" routerLink="/users/register">Sou candidato</button>
                <button class="tab active">Sou empresa</button>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" formControlName="email" placeholder="Digite seu e-mail"
                        [class.is-invalid]="submitted && f['email'].errors">
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">E-mail é obrigatório</div>
                        <div *ngIf="f['email'].errors['email']">E-mail inválido</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" formControlName="password" placeholder="Crie uma senha"
                        [class.is-invalid]="submitted && f['password'].errors">
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Senha é obrigatória</div>
                        <div *ngIf="f['password'].errors['minlength']">Senha deve ter no mínimo 8 caracteres</div>
                        <div *ngIf="f['password'].errors['pattern']">Senha deve conter maiúsculas, minúsculas, números e caracteres especiais</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm-password">Confirme sua Senha</label>
                    <input type="password" id="confirm-password" formControlName="confirmPassword"
                        placeholder="Repita a senha"
                        [class.is-invalid]="submitted && (f['confirmPassword'].errors || registerForm.errors?.['passwordMismatch'])">
                    <div *ngIf="submitted && (f['confirmPassword'].errors || registerForm.errors?.['passwordMismatch'])"
                        class="invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors?.['required']">Confirmação de senha é obrigatória</div>
                        <div *ngIf="registerForm.errors?.['passwordMismatch']">Senhas não coincidem</div>
                    </div>
                </div>

                <button type="submit" class="login-btn">Cadastrar</button>
                <a class="company-link" href="/companies/login">Já possuo conta</a>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>