<app-loading-spinner *ngIf="isLoading" message="Carregando dados do candidato..."></app-loading-spinner>
<div class="dashboard-container" *ngIf="!isLoading" [class.sidebar-open]="isSidebarOpen">
    <button class="sidebar-toggle" (click)="toggleSidebar()">
        <img *ngIf="isSidebarOpen" src="../../assets/icons/fechar.png" alt="Sidebar Aberto" class="icon" />
        <img *ngIf="!isSidebarOpen" src="../../assets/icons/abrir.png" alt="Sidebar Fechado" class="icon" />
    </button>
    <aside class="sidebar" [ngClass]="{'open': isSidebarOpen}">
        <div class="user-profile">
            <div class="user-avatar">
                <img *ngIf="fotoPerfil" [src]="fotoPerfil" alt="Foto de perfil" class="profile-logo">
                <i *ngIf="!fotoPerfil" class="fas fa-building"></i>
            </div>

            <h2 class="username">{{ candidato.nome }}</h2>
            <button class="edit-profile" (click)="editarPerfil(candidato.id)">Editar perfil</button>
        </div>

        <nav class="sidebar-nav" style="padding-top: 20px;">
            <a routerLink="/candidate/dashboard" class="nav-item active"
                [ngClass]="{'active': currentRoute === 'dashboard' }">
                <i class="fas fa-chart-line"></i>
                <span>Dashboard</span>
            </a>
            <a routerLink="/candidate/dashboard/oportunidades" class="nav-item"
                [ngClass]="{'active': currentRoute === 'oportunidades' }">
                <i class="fas fa-cog"></i>
                <span>Oportunidades</span>
            </a>
            <a routerLink="/candidate/dashboard/candidaturas" class="nav-item"
                [ngClass]="{'active': currentRoute === 'candidaturas' }">
                <i class="fas fa-cog"></i>
                <span>Candidaturas</span>
            </a>
            <a routerLink="/candidate/dashboard/configuracoes" class="nav-item">
                <i class="fas fa-cog"></i>
                <span>Configurações</span>
            </a>
        </nav>
    </aside>
    <main class="main-content">
        <app-vagas-candidato-recomendadas *ngIf="currentRoute === 'oportunidades' || currentRoute === 'candidaturas'"
            (loadingStateChanged)="onLoadingStateChanged($event)"></app-vagas-candidato-recomendadas>
        <app-configuracao-candidato *ngIf="currentRoute === 'configuracoes'"
            (loadingStateChanged)="onLoadingStateChanged($event)"></app-configuracao-candidato>
        <div *ngIf="currentRoute === 'dashboard'">
            <section class="welcome-card">
                <h1 class="welcome-header">Bem-vindo(a), {{ candidato.nome }}</h1>
                <div class="profile-progress">
                    <div class="progress-text">Porcentagem das informações do seu perfil:</div>
                    <div class="progress-bar">
                        <div class="progress-fill" [style.width.%]="profileCompletion"></div>
                    </div>
                    <div class="progress-percent">{{ profileCompletion }}%</div>
                </div>
                <div class="profile-update">
                    <div class="update-text">Atualize seu perfil: adicione skills, ajuste o salário desejado, atualize
                        seu
                        último CV.</div>
                    <button class="edit-btn">Editar</button>
                </div>
            </section>

            <section class="stats-container">
                <div class="stats-card">
                    <div class="stats-number">{{ userStats.applications }}</div>
                    <div class="stats-label">Candidaturas</div>
                    <a routerLink="/candidate/dashboard/candidaturas" class="stats-action">VER</a>
                </div>
                <div class="stats-card">
                    <div class="stats-number">{{ userStats.opportunities }}</div>
                    <div class="stats-label">Oportunidades</div>
                    <a routerLink="/candidate/dashboard/oportunidades" class="stats-action">VER</a>
                </div>
            </section>
            <section class="tips-section">
                <h3>Dicas para Você</h3>
                <div class="tip-card tip-card-with-action">
                    <div style="display: flex; gap: 16px;">
                        <i class="fas fa-lightbulb"></i>
                        <div class="tip-content">
                            <h4>Complete seu perfil</h4>
                            <p>Perfis completos recebem 40% mais visualizações.</p>
                        </div>
                    </div>
                    <button class="tip-action-btn" (click)="editarPerfil(candidato.id)">Completar</button>
                </div>

                <div class="tip-card tip-applications" style="margin-top: 10px;">
                    <i class="fas fa-handshake"></i>
                    <div class="tip-content">
                        <h4>Prepare-se para entrevistas</h4>
                        <p>Pratique respostas para perguntas comuns e pesquise sobre as empresas antes da entrevista.
                        </p>
                    </div>
                </div>

                <div class="tip-card tip-profile" style="margin-top: 10px;">
                    <i class="fas fa-camera"></i>
                    <div class="tip-content">
                        <h4>Adicione uma foto profissional</h4>
                        <p>Perfis com foto recebem 3x mais visualizações de recrutadores.</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>