@import 'ngx-toastr/toastr';

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.toast-override {
  opacity: 1 !important;
  margin-top: 20px !important;
  position: fixed !important;
  z-index: 999999 !important;
}

.toast-container {
  position: fixed !important;
  z-index: 999999 !important;
  pointer-events: auto !important;
}